@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */


@theme {
    --color-primary: #5f6fff;
}

input {
    /* @apply outline-none */
}

::-webkit-scrollbar {
    @apply hidden
}

* {
    font-family: 'Outfit', sans-serif;
}

/*  */

/* @import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

input {
    @apply outline-none;
}

::-webkit-scrollbar {
    @apply hidden;
}

* {
    font-family: 'Outfit', sans-serif;
}

@theme {
    --color-primary: #5f6fff;
} */