@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


@theme {
    --color-primary: #5f6fff;
}

* {
    font-family: Outfit
}


.active hr {
    @apply block;
}

.grid-cols-auto {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}


@media(max-width:740px) {
    .active p {
        @apply text-white bg-primary
    }
}

/* scrollbar */
/* ::-webkit-scrollbar {
    @apply hidden
} */


::-webkit-scrollbar {
    /* horizontal scrollbar height */
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-thumb:vertical {
    @apply hidden
}